<!DOCTYPE html>
<html ng-app="appStudies">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/studies.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>>
    <script src="index.js"></script>
    <title>Studies</title>
</head>
<body>
<div class="containerStudents" align="center" ng-controller="indexController">
    <h3>Students List</h3>

    <div>
        <button class="btn btn-primary btn-sm mb-3" ng-click="newCart()">Create New cart</button>
    </div>


    <table class="containerStudents">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mark</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentList" data-ng-init="getStudentMark(student.id)">

            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>
                <button class="btn btn-outline-info" ng-click="changeStudentMark(student.id, -1)">-</button>
                <span>{{mapStudentMark.get(student.id)}}</span>
                <button class="btn btn-outline-info" ng-click="changeStudentMark(student.id, 1)">+</button>
            </td>
            <td>{{student.age}}</td>

            <td>
                <button class="btn btn-outline-info" ng-click="purgeProduct(product.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>